*{
    padding: 0;
    margin: 0;
}
.navi{
    height: 50px;
    display: flex;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}
.navi .navi_left{
    width: 200px;
    font-weight: bolder;
    flood-color: aqua;
    text-align: center;
}
.navi .navi_empty{
    flex: 1;
}
.navi .navi_right{
    width: 150px;
}
.navi_right .el-dropdown-link{
    padding-top: 20px;
    display: block;
    color: #1989fa;
}